{% extends 'dash_base.html' %} 
{% block body %}

<ul class="list-group" id='lista-dash'>
    <li class="list-group-item active " id="li-lista-dados">
        <h2>Alterar senha</h2>
        <p>Preencha os campos para alterar sua senha.</p>
    </li>
    <li class="list-group-item">
        <form action="{% url 'user_changenewpassword' %}" method="POST" class="needs-validation">
            {% csrf_token %} {% if form.errors %}
            <div class="alert alert-danger" style="padding-top:50px;">
                <button type="button" class="close"> &times; </button>
                {{ form.non_field_errors }}
            </div>
            {% endif%}

            <div class="form-group">
                <label for="id_senha">Senha: </label>
                <input type="password" class="form-control" id="id_senha" name="senha" placeholder="Digite sua nova senha." required>
            </div>

            <div class="form-group">
                <label for="id_senha_confirma">Confirmar senha: </label>
                <input type="password" class="form-control" id="id_senha_confirma" name="senha_confirma" placeholder="Redigite sua senha para confirmar." required>
            </div>

            <button type="submit" class="btn btn-primary">Alterar</button>

        </form>
    </li>
</ul>


{% endblock %}